.full-width{
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
}

.button-margins {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.centered-content {
  display: flex;
  justify-content: center;
}

.light-blue-background{
  background-color: rgb(173, 208, 240);
}
